$theme_color_background: #d7d2ac;
$theme_color_dark: #5a4d41;
$theme_color_light: #a0977a;
$theme_color_header: #5a4d41;
$theme_color_banner: #2f2216;
$theme_color_action: #9c947a;
$theme_color_form: #9c947a;

$theme_color_sidebar: #5a4d41e6;
$theme_color_sidebar_primary: #af9e81;
$theme_color_sidebar_primary_hover: #9b8b6f;
$theme_color_sidebar_secondary: #665b51;
$theme_color_sidebar_secondary_hover: #9b8b6f;
$theme_color_sidebar_nested: #61564b;
$theme_color_sidebar_nested_hover: #9b8b6f;
$theme_color_sidebar_hover: #9b8b6f;

$theme_color_primary: #544b43;
$theme_color_primary_hover: #665b51;
$theme_color_secondary: #756a57;
$theme_color_secondary_hover: #544b43;
$theme_color_nav_hover: #665b51;

$theme_color_validations: #ff4a4a;
$theme_color_border: 1px solid #757575;

$theme_color_main_font: white;
$theme_color_secondary_font: black;
